## 数据处理(特征工程、特征选择...)

In [2]:
import pandas as pd

In [3]:
# 载入数据
df_train = pd.read_csv('./Kaggle_Titanic/train.csv')

In [4]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [6]:
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### 基础数据处理

#### 缺失值填充

In [8]:
# 使用pandas的fillna函数
help(pd.DataFrame.fillna)

Help on function fillna in module pandas.core.frame:

fillna(self, value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)
    Fill NA/NaN values using the specified method

    Parameters
    ----------
    value : scalar, dict, Series, or DataFrame
        Value to use to fill holes (e.g. 0), alternately a
        dict/Series/DataFrame of values specifying which value to use for
        each index (for a Series) or column (for a DataFrame). (values not
        in the dict/Series/DataFrame will not be filled). This value cannot
        be a list.
    method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
        Method to use for filling holes in reindexed Series
        pad / ffill: propagate last valid observation forward to next valid
        backfill / bfill: use NEXT valid observation to fill gap
    axis : {0 or 'index', 1 or 'columns'}
    inplace : boolean, default False
        If True, fill in place. Note: this will modify any
        other views on this object, (e.g. a no-copy slice for a column in a
        DataFrame).
    limit : int, default None
        If method is specified, this is the maximum number of consecutive
        NaN values to forward/backward fill. In other words, if there is
        a gap with more than this number of consecutive NaNs, it will only
        be partially filled. If method is not specified, this is the
        maximum number of entries along the entire axis where NaNs will be
        filled. Must be greater than 0 if not None.
    downcast : dict, default is None
        a dict of item->dtype of what to downcast if possible,
        or the string 'infer' which will try to downcast to an appropriate
        equal type (e.g. float64 to int64 if possible)

    See Also
    --------
    reindex, asfreq

    Returns
    -------
    filled : DataFrame

    Examples
    --------
    >>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
    ...                    [3, 4, np.nan, 1],
    ...                    [np.nan, np.nan, np.nan, 5],
    ...                    [np.nan, 3, np.nan, 4]],
    ...                    columns=list('ABCD'))
    >>> df
         A    B   C  D
    0  NaN  2.0 NaN  0
    1  3.0  4.0 NaN  1
    2  NaN  NaN NaN  5
    3  NaN  3.0 NaN  4

    Replace all NaN elements with 0s.

    >>> df.fillna(0)
        A   B   C   D
    0   0.0 2.0 0.0 0
    1   3.0 4.0 0.0 1
    2   0.0 0.0 0.0 5
    3   0.0 3.0 0.0 4

    We can also propagate non-null values forward or backward.

    >>> df.fillna(method='ffill')
        A   B   C   D
    0   NaN 2.0 NaN 0
    1   3.0 4.0 NaN 1
    2   3.0 4.0 NaN 5
    3   3.0 3.0 NaN 4

    Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
    2, and 3 respectively.

    >>> values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
    >>> df.fillna(value=values)
        A   B   C   D
    0   0.0 2.0 2.0 0
    1   3.0 4.0 2.0 1
    2   0.0 1.0 2.0 5
    3   0.0 3.0 2.0 4

    Only replace the first NaN element.

    >>> df.fillna(value=values, limit=1)
        A   B   C   D
    0   0.0 2.0 2.0 0
    1   3.0 4.0 NaN 1
    2   NaN 1.0 NaN 5
    3   NaN 3.0 NaN 4

In [9]:
df_train['Age'].fillna(value=df_train['Age'].mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
5      29.699118
6      54.000000
7       2.000000
8      27.000000
9      14.000000
10      4.000000
11     58.000000
12     20.000000
13     39.000000
14     14.000000
15     55.000000
16      2.000000
17     29.699118
18     31.000000
19     29.699118
20     35.000000
21     34.000000
22     15.000000
23     28.000000
24      8.000000
25     38.000000
26     29.699118
27     19.000000
28     29.699118
29     29.699118
         ...
861    21.000000
862    48.000000
863    29.699118
864    24.000000
865    42.000000
866    27.000000
867    31.000000
868    29.699118
869     4.000000
870    26.000000
871    47.000000
872    33.000000
873    47.000000
874    28.000000
875    15.000000
876    20.000000
877    19.000000
878    29.699118
879    56.000000
880    25.000000
881    33.000000
882    22.000000
883    28.000000
884    25.000000
885    39.000000
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [10]:
df_train['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5       NaN
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17      NaN
18     31.0
19      NaN
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26      NaN
27     19.0
28      NaN
29      NaN
       ...
861    21.0
862    48.0
863     NaN
864    24.0
865    42.0
866    27.0
867    31.0
868     NaN
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     NaN
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [11]:
# 可以使用sklearn当中的Imputer,填充的类
from sklearn.preprocessing import Imputer

In [12]:
help(Imputer)

Help on class Imputer in module sklearn.preprocessing.imputation:

class Imputer(sklearn.base.BaseEstimator, sklearn.base.TransformerMixin)
 |  Imputation transformer for completing missing values.
 |
 |  Read more in the :ref:`User Guide <imputation>`.
 |
 |  Parameters
 |  ----------
 |  missing_values : integer or "NaN", optional (default="NaN")
 |      The placeholder for the missing values. All occurrences of
 |      `missing_values` will be imputed. For missing values encoded as np.nan,
 |      use the string value "NaN".
 |
 |  strategy : string, optional (default="mean")
 |      The imputation strategy.
 |
 |      - If "mean", then replace missing values using the mean along
 |        the axis.
 |      - If "median", then replace missing values using the median along
 |        the axis.
 |      - If "most_frequent", then replace missing using the most frequent
 |        value along the axis.
 |
 |  axis : integer, optional (default=0)
 |      The axis along which to impute.
 |
 |      - If `axis=0`, then impute along columns.
 |      - If `axis=1`, then impute along rows.
 |
 |  verbose : integer, optional (default=0)
 |      Controls the verbosity of the imputer.
 |
 |  copy : boolean, optional (default=True)
 |      If True, a copy of X will be created. If False, imputation will
 |      be done in-place whenever possible. Note that, in the following cases,
 |      a new copy will always be made, even if `copy=False`:
 |
 |      - If X is not an array of floating values;
 |      - If X is sparse and `missing_values=0`;
 |      - If `axis=0` and X is encoded as a CSR matrix;
 |      - If `axis=1` and X is encoded as a CSC matrix.
 |
 |  Attributes
 |  ----------
 |  statistics_ : array of shape (n_features,)
 |      The imputation fill value for each feature if axis == 0.
 |
 |  Notes
 |  -----
 |  - When ``axis=0``, columns which only contained missing values at `fit`
 |    are discarded upon `transform`.
 |  - When ``axis=1``, an exception is raised if there are rows for which it is
 |    not possible to fill in the missing values (e.g., because they only
 |    contain missing values).
 |
 |  Method resolution order:
 |      Imputer
 |      sklearn.base.BaseEstimator
 |      sklearn.base.TransformerMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, missing_values='NaN', strategy='mean', axis=0, verbose=0, copy=True)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit the imputer on X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape (n_samples, n_features)
 |          Input data, where ``n_samples`` is the number of samples and
 |          ``n_features`` is the number of features.
 |
 |      Returns
 |      -------
 |      self : Imputer
 |          Returns self.
 |
 |  transform(self, X)
 |      Impute all missing values in X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape = [n_samples, n_features]
 |          The input data to complete.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : boolean, optional
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Returns
 |      -------
 |      self
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to X and y with optional parameters fit_params
 |      and returns a transformed version of X.
 |
 |      Parameters
 |      ----------
 |      X : numpy array of shape [n_samples, n_features]
 |          Training set.
 |
 |      y : numpy array of shape [n_samples]
 |          Target values.
 |
 |      Returns
 |      -------
 |      X_new : numpy array of shape [n_samples, n_features_new]
 |          Transformed array.

In [13]:
imp = Imputer(strategy='mean', axis=0)  # axis=0 对列填充， axis=1 对行填充

In [15]:
age = imp.fit_transform(df_train[['Age']].values)

In [16]:
age

array([[22.        ],
       [38.        ],
       [26.        ],
       [35.        ],
       [35.        ],
       [29.69911765],
       [54.        ],
       [ 2.        ],
       [27.        ],
       [14.        ],
       [ 4.        ],
       [58.        ],
       [20.        ],
       [39.        ],
       [14.        ],
       [55.        ],
       [ 2.        ],
       [29.69911765],
       [31.        ],
       [29.69911765],
       [35.        ],
       [34.        ],
       [15.        ],
       [28.        ],
       [ 8.        ],
       [38.        ],
       [29.69911765],
       [19.        ],
       [29.69911765],
       [29.69911765],
       [40.        ],
       [29.69911765],
       [29.69911765],
       [66.        ],
       [28.        ],
       [42.        ],
       [29.69911765],
       [21.        ],
       [18.        ],
       [14.        ],
       [40.        ],
       [27.        ],
       [29.69911765],
       [ 3.        ],
       [19.        ],
       [29.69911765],
       [29.69911765],
       [29.69911765],
       [29.69911765],
       [18.        ],
       [ 7.        ],
       [21.        ],
       [49.        ],
       [29.        ],
       [65.        ],
       [29.69911765],
       [21.        ],
       [28.5       ],
       [ 5.        ],
       [11.        ],
       [22.        ],
       [38.        ],
       [45.        ],
       [ 4.        ],
       [29.69911765],
       [29.69911765],
       [29.        ],
       [19.        ],
       [17.        ],
       [26.        ],
       [32.        ],
       [16.        ],
       [21.        ],
       [26.        ],
       [32.        ],
       [25.        ],
       [29.69911765],
       [29.69911765],
       [ 0.83      ],
       [30.        ],
       [22.        ],
       [29.        ],
       [29.69911765],
       [28.        ],
       [17.        ],
       [33.        ],
       [16.        ],
       [29.69911765],
       [23.        ],
       [24.        ],
       [29.        ],
       [20.        ],
       [46.        ],
       [26.        ],
       [59.        ],
       [29.69911765],
       [71.        ],
       [23.        ],
       [34.        ],
       [34.        ],
       [28.        ],
       [29.69911765],
       [21.        ],
       [33.        ],
       [37.        ],
       [28.        ],
       [21.        ],
       [29.69911765],
       [38.        ],
       [29.69911765],
       [47.        ],
       [14.5       ],
       [22.        ],
       [20.        ],
       [17.        ],
       [21.        ],
       [70.5       ],
       [29.        ],
       [24.        ],
       [ 2.        ],
       [21.        ],
       [29.69911765],
       [32.5       ],
       [32.5       ],
       [54.        ],
       [12.        ],
       [29.69911765],
       [24.        ],
       [29.69911765],
       [45.        ],
       [33.        ],
       [20.        ],
       [47.        ],
       [29.        ],
       [25.        ],
       [23.        ],
       [19.        ],
       [37.        ],
       [16.        ],
       [24.        ],
       [29.69911765],
       [22.        ],
       [24.        ],
       [19.        ],
       [18.        ],
       [19.        ],
       [27.        ],
       [ 9.        ],
       [36.5       ],
       [42.        ],
       [51.        ],
       [22.        ],
       [55.5       ],
       [40.5       ],
       [29.69911765],
       [51.        ],
       [16.        ],
       [30.        ],
       [29.69911765],
       [29.69911765],
       [44.        ],
       [40.        ],
       [26.        ],
       [17.        ],
       [ 1.        ],
       [ 9.        ],
       [29.69911765],
       [45.        ],
       [29.69911765],
       [28.        ],
       [61.        ],
       [ 4.        ],
       [ 1.        ],
       [21.        ],
       [56.        ],
       [18.        ],
       [29.69911765],
       [50.        ],
       [30.        ],
       [36.        ],
       [29.69911765],
       [29.69911765],
       [ 9.        ],
       [ 1.        ],
       [ 4.        ],
       [29.69911765],
       [29.69911765],
       [45.        ],
       [40.        ],
       [36.        ],
       [32.        ],
       [19.        ],
       [19.        ],
       [ 3.        ],
       [44.        ],
       [58.        ],
       [29.69911765],
       [42.        ],
       [29.69911765],
       [24.        ],
       [28.        ],
       [29.69911765],
       [34.        ],
       [45.5       ],
       [18.        ],
       [ 2.        ],
       [32.        ],
       [26.        ],
       [16.        ],
       [40.        ],
       [24.        ],
       [35.        ],
       [22.        ],
       [30.        ],
       [29.69911765],
       [31.        ],
       [27.        ],
       [42.        ],
       [32.        ],
       [30.        ],
       [16.        ],
       [27.        ],
       [51.        ],
       [29.69911765],
       [38.        ],
       [22.        ],
       [19.        ],
       [20.5       ],
       [18.        ],
       [29.69911765],
       [35.        ],
       [29.        ],
       [59.        ],
       [ 5.        ],
       [24.        ],
       [29.69911765],
       [44.        ],
       [ 8.        ],
       [19.        ],
       [33.        ],
       [29.69911765],
       [29.69911765],
       [29.        ],
       [22.        ],
       [30.        ],
       [44.        ],
       [25.        ],
       [24.        ],
       [37.        ],
       [54.        ],
       [29.69911765],
       [29.        ],
       [62.        ],
       [30.        ],
       [41.        ],
       [29.        ],
       [29.69911765],
       [30.        ],
       [35.        ],
       [50.        ],
       [29.69911765],
       [ 3.        ],
       [52.        ],
       [40.        ],
       [29.69911765],
       [36.        ],
       [16.        ],
       [25.        ],
       [58.        ],
       [35.        ],
       [29.69911765],
       [25.        ],
       [41.        ],
       [37.        ],
       [29.69911765],
       [63.        ],
       [45.        ],
       [29.69911765],
       [ 7.        ],
       [35.        ],
       [65.        ],
       [28.        ],
       [16.        ],
       [19.        ],
       [29.69911765],
       [33.        ],
       [30.        ],
       [22.        ],
       [42.        ],
       [22.        ],
       [26.        ],
       [19.        ],
       [36.        ],
       [24.        ],
       [24.        ],
       [29.69911765],
       [23.5       ],
       [ 2.        ],
       [29.69911765],
       [50.        ],
       [29.69911765],
       [29.69911765],
       [19.        ],
       [29.69911765],
       [29.69911765],
       [ 0.92      ],
       [29.69911765],
       [17.        ],
       [30.        ],
       [30.        ],
       [24.        ],
       [18.        ],
       [26.        ],
       [28.        ],
       [43.        ],
       [26.        ],
       [24.        ],
       [54.        ],
       [31.        ],
       [40.        ],
       [22.        ],
       [27.        ],
       [30.        ],
       [22.        ],
       [29.69911765],
       [36.        ],
       [61.        ],
       [36.        ],
       [31.        ],
       [16.        ],
       [29.69911765],
       [45.5       ],
       [38.        ],
       [16.        ],
       [29.69911765],
       [29.69911765],
       [29.        ],
       [41.        ],
       [45.        ],
       [45.        ],
       [ 2.        ],
       [24.        ],
       [28.        ],
       [25.        ],
       [36.        ],
       [24.        ],
       [40.        ],
       [29.69911765],
       [ 3.        ],
       [42.        ],
       [23.        ],
       [29.69911765],
       [15.        ],
       [25.        ],
       [29.69911765],
       [28.        ],
       [22.        ],
       [38.        ],
       [29.69911765],
       [29.69911765],
       [40.        ],
       [29.        ],
       [45.        ],
       [35.        ],
       [29.69911765],
       [30.        ],
       [60.        ],
       [29.69911765],
       [29.69911765],
       [24.        ],
       [25.        ],
       [18.        ],
       [19.        ],
       [22.        ],
       [ 3.        ],
       [29.69911765],
       [22.        ],
       [27.        ],
       [20.        ],
       [19.        ],
       [42.        ],
       [ 1.        ],
       [32.        ],
       [35.        ],
       [29.69911765],
       [18.        ],
       [ 1.        ],
       [36.        ],
       [29.69911765],
       [17.        ],
       [36.        ],
       [21.        ],
       [28.        ],
       [23.        ],
       [24.        ],
       [22.        ],
       [31.        ],
       [46.        ],
       [23.        ],
       [28.        ],
       [39.        ],
       [26.        ],
       [21.        ],
       [28.        ],
       [20.        ],
       [34.        ],
       [51.        ],
       [ 3.        ],
       [21.        ],
       [29.69911765],
       [29.69911765],
       [29.69911765],
       [33.        ],
       [29.69911765],
       [44.        ],
       [29.69911765],
       [34.        ],
       [18.        ],
       [30.        ],
       [10.        ],
       [29.69911765],
       [21.        ],
       [29.        ],
       [28.        ],
       [18.        ],
       [29.69911765],
       [28.        ],
       [19.        ],
       [29.69911765],
       [32.        ],
       [28.        ],
       [29.69911765],
       [42.        ],
       [17.        ],
       [50.        ],
       [14.        ],
       [21.        ],
       [24.        ],
       [64.        ],
       [31.        ],
       [45.        ],
       [20.        ],
       [25.        ],
       [28.        ],
       [29.69911765],
       [ 4.        ],
       [13.        ],
       [34.        ],
       [ 5.        ],
       [52.        ],
       [36.        ],
       [29.69911765],
       [30.        ],
       [49.        ],
       [29.69911765],
       [29.        ],
       [65.        ],
       [29.69911765],
       [50.        ],
       [29.69911765],
       [48.        ],
       [34.        ],
       [47.        ],
       [48.        ],
       [29.69911765],
       [38.        ],
       [29.69911765],
       [56.        ],
       [29.69911765],
       [ 0.75      ],
       [29.69911765],
       [38.        ],
       [33.        ],
       [23.        ],
       [22.        ],
       [29.69911765],
       [34.        ],
       [29.        ],
       [22.        ],
       [ 2.        ],
       [ 9.        ],
       [29.69911765],
       [50.        ],
       [63.        ],
       [25.        ],
       [29.69911765],
       [35.        ],
       [58.        ],
       [30.        ],
       [ 9.        ],
       [29.69911765],
       [21.        ],
       [55.        ],
       [71.        ],
       [21.        ],
       [29.69911765],
       [54.        ],
       [29.69911765],
       [25.        ],
       [24.        ],
       [17.        ],
       [21.        ],
       [29.69911765],
       [37.        ],
       [16.        ],
       [18.        ],
       [33.        ],
       [29.69911765],
       [28.        ],
       [26.        ],
       [29.        ],
       [29.69911765],
       [36.        ],
       [54.        ],
       [24.        ],
       [47.        ],
       [34.        ],
       [29.69911765],
       [36.        ],
       [32.        ],
       [30.        ],
       [22.        ],
       [29.69911765],
       [44.        ],
       [29.69911765],
       [40.5       ],
       [50.        ],
       [29.69911765],
       [39.        ],
       [23.        ],
       [ 2.        ],
       [29.69911765],
       [17.        ],
       [29.69911765],
       [30.        ],
       [ 7.        ],
       [45.        ],
       [30.        ],
       [29.69911765],
       [22.        ],
       [36.        ],
       [ 9.        ],
       [11.        ],
       [32.        ],
       [50.        ],
       [64.        ],
       [19.        ],
       [29.69911765],
       [33.        ],
       [ 8.        ],
       [17.        ],
       [27.        ],
       [29.69911765],
       [22.        ],
       [22.        ],
       [62.        ],
       [48.        ],
       [29.69911765],
       [39.        ],
       [36.        ],
       [29.69911765],
       [40.        ],
       [28.        ],
       [29.69911765],
       [29.69911765],
       [24.        ],
       [19.        ],
       [29.        ],
       [29.69911765],
       [32.        ],
       [62.        ],
       [53.        ],
       [36.        ],
       [29.69911765],
       [16.        ],
       [19.        ],
       [34.        ],
       [39.        ],
       [29.69911765],
       [32.        ],
       [25.        ],
       [39.        ],
       [54.        ],
       [36.        ],
       [29.69911765],
       [18.        ],
       [47.        ],
       [60.        ],
       [22.        ],
       [29.69911765],
       [35.        ],
       [52.        ],
       [47.        ],
       [29.69911765],
       [37.        ],
       [36.        ],
       [29.69911765],
       [49.        ],
       [29.69911765],
       [49.        ],
       [24.        ],
       [29.69911765],
       [29.69911765],
       [44.        ],
       [35.        ],
       [36.        ],
       [30.        ],
       [27.        ],
       [22.        ],
       [40.        ],
       [39.        ],
       [29.69911765],
       [29.69911765],
       [29.69911765],
       [35.        ],
       [24.        ],
       [34.        ],
       [26.        ],
       [ 4.        ],
       [26.        ],
       [27.        ],
       [42.        ],
       [20.        ],
       [21.        ],
       [21.        ],
       [61.        ],
       [57.        ],
       [21.        ],
       [26.        ],
       [29.69911765],
       [80.        ],
       [51.        ],
       [32.        ],
       [29.69911765],
       [ 9.        ],
       [28.        ],
       [32.        ],
       [31.        ],
       [41.        ],
       [29.69911765],
       [20.        ],
       [24.        ],
       [ 2.        ],
       [29.69911765],
       [ 0.75      ],
       [48.        ],
       [19.        ],
       [56.        ],
       [29.69911765],
       [23.        ],
       [29.69911765],
       [18.        ],
       [21.        ],
       [29.69911765],
       [18.        ],
       [24.        ],
       [29.69911765],
       [32.        ],
       [23.        ],
       [58.        ],
       [50.        ],
       [40.        ],
       [47.        ],
       [36.        ],
       [20.        ],
       [32.        ],
       [25.        ],
       [29.69911765],
       [43.        ],
       [29.69911765],
       [40.        ],
       [31.        ],
       [70.        ],
       [31.        ],
       [29.69911765],
       [18.        ],
       [24.5       ],
       [18.        ],
       [43.        ],
       [36.        ],
       [29.69911765],
       [27.        ],
       [20.        ],
       [14.        ],
       [60.        ],
       [25.        ],
       [14.        ],
       [19.        ],
       [18.        ],
       [15.        ],
       [31.        ],
       [ 4.        ],
       [29.69911765],
       [25.        ],
       [60.        ],
       [52.        ],
       [44.        ],
       [29.69911765],
       [49.        ],
       [42.        ],
       [18.        ],
       [35.        ],
       [18.        ],
       [25.        ],
       [26.        ],
       [39.        ],
       [45.        ],
       [42.        ],
       [22.        ],
       [29.69911765],
       [24.        ],
       [29.69911765],
       [48.        ],
       [29.        ],
       [52.        ],
       [19.        ],
       [38.        ],
       [27.        ],
       [29.69911765],
       [33.        ],
       [ 6.        ],
       [17.        ],
       [34.        ],
       [50.        ],
       [27.        ],
       [20.        ],
       [30.        ],
       [29.69911765],
       [25.        ],
       [25.        ],
       [29.        ],
       [11.        ],
       [29.69911765],
       [23.        ],
       [23.        ],
       [28.5       ],
       [48.        ],
       [35.        ],
       [29.69911765],
       [29.69911765],
       [29.69911765],
       [36.        ],
       [21.        ],
       [24.        ],
       [31.        ],
       [70.        ],
       [16.        ],
       [30.        ],
       [19.        ],
       [31.        ],
       [ 4.        ],
       [ 6.        ],
       [33.        ],
       [23.        ],
       [48.        ],
       [ 0.67      ],
       [28.        ],
       [18.        ],
       [34.        ],
       [33.        ],
       [29.69911765],
       [41.        ],
       [20.        ],
       [36.        ],
       [16.        ],
       [51.        ],
       [29.69911765],
       [30.5       ],
       [29.69911765],
       [32.        ],
       [24.        ],
       [48.        ],
       [57.        ],
       [29.69911765],
       [54.        ],
       [18.        ],
       [29.69911765],
       [ 5.        ],
       [29.69911765],
       [43.        ],
       [13.        ],
       [17.        ],
       [29.        ],
       [29.69911765],
       [25.        ],
       [25.        ],
       [18.        ],
       [ 8.        ],
       [ 1.        ],
       [46.        ],
       [29.69911765],
       [16.        ],
       [29.69911765],
       [29.69911765],
       [25.        ],
       [39.        ],
       [49.        ],
       [31.        ],
       [30.        ],
       [30.        ],
       [34.        ],
       [31.        ],
       [11.        ],
       [ 0.42      ],
       [27.        ],
       [31.        ],
       [39.        ],
       [18.        ],
       [39.        ],
       [33.        ],
       [26.        ],
       [39.        ],
       [35.        ],
       [ 6.        ],
       [30.5       ],
       [29.69911765],
       [23.        ],
       [31.        ],
       [43.        ],
       [10.        ],
       [52.        ],
       [27.        ],
       [38.        ],
       [27.        ],
       [ 2.        ],
       [29.69911765],
       [29.69911765],
       [ 1.        ],
       [29.69911765],
       [62.        ],
       [15.        ],
       [ 0.83      ],
       [29.69911765],
       [23.        ],
       [18.        ],
       [39.        ],
       [21.        ],
       [29.69911765],
       [32.        ],
       [29.69911765],
       [20.        ],
       [16.        ],
       [30.        ],
       [34.5       ],
       [17.        ],
       [42.        ],
       [29.69911765],
       [35.        ],
       [28.        ],
       [29.69911765],
       [ 4.        ],
       [74.        ],
       [ 9.        ],
       [16.        ],
       [44.        ],
       [18.        ],
       [45.        ],
       [51.        ],
       [24.        ],
       [29.69911765],
       [41.        ],
       [21.        ],
       [48.        ],
       [29.69911765],
       [24.        ],
       [42.        ],
       [27.        ],
       [31.        ],
       [29.69911765],
       [ 4.        ],
       [26.        ],
       [47.        ],
       [33.        ],
       [47.        ],
       [28.        ],
       [15.        ],
       [20.        ],
       [19.        ],
       [29.69911765],
       [56.        ],
       [25.        ],
       [33.        ],
       [22.        ],
       [28.        ],
       [25.        ],
       [39.        ],
       [27.        ],
       [19.        ],
       [29.69911765],
       [26.        ],
       [32.        ]])

### 常用的特征工程操作

### 数值型

#### 0.幅度缩放

In [17]:
# 取log
import numpy as np
log_age = df_train['Age'].apply(np.log)

In [18]:
# 幅度缩放，标准化等等
from sklearn.preprocessing import MinMaxScaler
mm_scaler = MinMaxScaler()

In [20]:
#用MinMaxScaler缩放器对船票字段缩放
fare_trans = mm_scaler.fit_transform(df_train[['Fare']])

In [21]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()

In [22]:
fare_std_trans = std_scaler.fit_transform(df_train[['Fare']])

In [23]:
df_train['Fare']

0        7.2500
1       71.2833
2        7.9250
3       53.1000
4        8.0500
5        8.4583
6       51.8625
7       21.0750
8       11.1333
9       30.0708
10      16.7000
11      26.5500
12       8.0500
13      31.2750
14       7.8542
15      16.0000
16      29.1250
17      13.0000
18      18.0000
19       7.2250
20      26.0000
21      13.0000
22       8.0292
23      35.5000
24      21.0750
25      31.3875
26       7.2250
27     263.0000
28       7.8792
29       7.8958
         ...
861     11.5000
862     25.9292
863     69.5500
864     13.0000
865     13.0000
866     13.8583
867     50.4958
868      9.5000
869     11.1333
870      7.8958
871     52.5542
872      5.0000
873      9.0000
874     24.0000
875      7.2250
876      9.8458
877      7.8958
878      7.8958
879     83.1583
880     26.0000
881      7.8958
882     10.5167
883     10.5000
884      7.0500
885     29.1250
886     13.0000
887     30.0000
888     23.4500
889     30.0000
890      7.7500
Name: Fare, Length: 891, dtype: float64

In [24]:
fare_std_trans

array([[-5.02445171e-01],
       [ 7.86845294e-01],
       [-4.88854258e-01],
       [ 4.20730236e-01],
       [-4.86337422e-01],
       [-4.78116429e-01],
       [ 3.95813561e-01],
       [-2.24083121e-01],
       [-4.24256141e-01],
       [-4.29555021e-02],
       [-3.12172378e-01],
       [-1.13845709e-01],
       [-4.86337422e-01],
       [-1.87093118e-02],
       [-4.90279793e-01],
       [-3.26266659e-01],
       [-6.19988892e-02],
       [-3.86670720e-01],
       [-2.85997284e-01],
       [-5.02948539e-01],
       [-1.24919787e-01],
       [-3.86670720e-01],
       [-4.86756223e-01],
       [ 6.63597416e-02],
       [-2.24083121e-01],
       [-1.64441595e-02],
       [-5.02948539e-01],
       [ 4.64700108e+00],
       [-4.89776426e-01],
       [-4.89442190e-01],
       [-9.02720170e-02],
       [ 2.30172882e+00],
       [-4.92377828e-01],
       [-4.37007438e-01],
       [ 1.00606170e+00],
       [ 3.98582080e-01],
       [-5.02863973e-01],
       [-4.86337422e-01],
       [-2.85997284e-01],
       [-4.22073541e-01],
       [-4.57645492e-01],
       [-2.25593223e-01],
       [-4.89442190e-01],
       [ 1.88762532e-01],
       [-4.89776426e-01],
       [-4.86337422e-01],
       [-3.36334002e-01],
       [-4.92377828e-01],
       [-2.11917743e-01],
       [-2.90024222e-01],
       [ 1.50673744e-01],
       [-4.91371093e-01],
       [ 8.96496787e-01],
       [-1.24919787e-01],
       [ 5.99510151e-01],
       [ 6.63597416e-02],
       [-4.37007438e-01],
       [-5.02863973e-01],
       [-8.96840841e-02],
       [ 2.95895176e-01],
       [-5.02863973e-01],
       [ 9.62353321e-01],
       [ 1.03232136e+00],
       [-8.66638810e-02],
       [-9.02720170e-02],
       [-3.41452240e-01],
       [-4.37007438e-01],
       [-4.84156835e-01],
       [-4.88854258e-01],
       [-4.74004926e-01],
       [-4.37007438e-01],
       [ 2.95895176e-01],
       [ 8.31477855e-01],
       [-3.57390858e-01],
       [ 4.89103607e-01],
       [-4.94391297e-01],
       [-4.89442190e-01],
       [-4.86337422e-01],
       [-6.45157251e-02],
       [-3.97241431e-01],
       [-4.67209469e-01],
       [-4.57142125e-01],
       [-4.91622777e-01],
       [ 2.99922113e-01],
       [-4.37007438e-01],
       [-3.29286862e-01],
       [ 4.37082185e-02],
       [-4.86337422e-01],
       [ 4.64700108e+00],
       [-4.86337422e-01],
       [-4.86337422e-01],
       [-4.90279793e-01],
       [ 5.83317835e-01],
       [-2.34150465e-01],
       [-5.02445171e-01],
       [-4.86337422e-01],
       [ 4.93298232e-02],
       [ 6.27277898e-01],
       [-1.85323848e-01],
       [-1.24919787e-01],
       [-4.89442190e-01],
       [-4.89442190e-01],
       [ 9.07737982e-01],
       [-4.74172044e-01],
       [-4.88854258e-01],
       [-4.89442190e-01],
       [-4.94391297e-01],
       [-4.91874461e-01],
       [-4.89442190e-01],
       [-1.62168958e-01],
       [ 3.98582080e-01],
       [-3.57390858e-01],
       [-4.86337422e-01],
       [-4.50598352e-01],
       [-3.57308306e-01],
       [-4.88854258e-01],
       [-4.92377828e-01],
       [-2.25593223e-01],
       [ 4.33533223e+00],
       [-1.87093118e-02],
       [ 8.31477855e-01],
       [-4.86337422e-01],
       [-4.29555021e-02],
       [-3.86670720e-01],
       [ 9.07737982e-01],
       [-4.22073541e-01],
       [-4.92377828e-01],
       [-5.04625758e-01],
       [-1.98244277e-01],
       [-5.07982210e-01],
       [-4.89442190e-01],
       [-5.06472109e-01],
       [-3.56468689e-01],
       [-1.24919787e-01],
       [-3.86670720e-01],
       [-3.45479177e-01],
       [-1.19215630e-01],
       [ 4.20730236e-01],
       [-4.62846282e-01],
       [ 9.46245572e-01],
       [-3.41452240e-01],
       [-4.92377828e-01],
       [-3.29286862e-01],
       [-5.12512515e-01],
       [-4.16872751e-01],
       [ 9.15281006e-02],
       [-4.91455659e-01],
       [ 4.37082185e-02],
       [-1.24919787e-01],
       [-3.86670720e-01],
       [-3.96234697e-01],
       [ 6.92548513e-01],
       [-4.86337422e-01],
       [-3.56468689e-01],
       [-5.01186753e-01],
       [ 5.87429338e-01],
       [-4.92714077e-01],
       [-4.86337422e-01],
       [-4.74004926e-01],
       [ 7.51945840e-01],
       [-3.24253190e-01],
       [-3.31300330e-01],
       [-4.91874461e-01],
       [-4.74004926e-01],
       [ 1.50673744e-01],
       [-2.35157199e-01],
       [ 4.58986142e-01],
       [-8.66638810e-02],
       [-1.26429888e-01],
       [ 4.89103607e-01],
       [ 2.60903672e-02],
       [-6.19988892e-02],
       [-4.24256141e-01],
       [-4.88854258e-01],
       [-3.03713226e-02],
       [-4.90279793e-01],
       [-1.35657615e-01],
       [-7.03044477e-02],
       [-3.86670720e-01],
       [-6.48421654e-01],
       [ 7.51945840e-01],
       [-3.45394611e-01],
       [-1.64441595e-02],
       [ 1.36831147e-01],
       [-2.04955168e-01],
       [ 3.58312706e-01],
       [-3.36334002e-01],
       [-1.13845709e-01],
       [-3.36334002e-01],
       [-4.89442190e-01],
       [-3.86670720e-01],
       [-3.86670720e-01],
       [-4.90279793e-01],
       [-1.24919787e-01],
       [-9.02720170e-02],
       [ 2.30172882e+00],
       [-4.92377828e-01],
       [-4.79205715e-01],
       [-4.92377828e-01],
       [-3.86670720e-01],
       [-4.57142125e-01],
       [ 7.51945840e-01],
       [-5.17630753e-01],
       [-5.02948539e-01],
       [-4.86337422e-01],
       [-4.37762489e-01],
       [-3.29286862e-01],
       [-2.70141218e-01],
       [-4.92377828e-01],
       [-2.42463508e-02],
       [-5.06472109e-01],
       [-2.25593223e-01],
       [-5.02445171e-01],
       [-3.86670720e-01],
       [-4.92377828e-01],
       [ 1.63233504e+00],
       [-4.88854258e-01],
       [-1.04785100e-01],
       [ 8.87687861e-01],
       [-4.37007438e-01],
       [-4.86337422e-01],
       [-3.86670720e-01],
       [-4.86337422e-01],
       [-4.89442190e-01],
       [ 1.16370019e+00],
       [-4.60162328e-01],
       [-4.37007438e-01],
       [-5.02445171e-01],
       [-3.86670720e-01],
       [-1.35657615e-01],
       [ 1.03232136e+00],
       [-4.91874461e-01],
       [-3.76603377e-01],
       [-1.64441595e-02],
       [-4.37007438e-01],
       [-4.96404765e-01],
       [-1.24919787e-01],
       [-1.19886115e-01],
       [-4.37007438e-01],
       [-4.01268368e-01],
       [-3.57390858e-01],
       [-3.36334002e-01],
       [-4.37007438e-01],
       [-5.04962007e-01],
       [-5.02948539e-01],
       [ 1.16370019e+00],
       [-4.91874461e-01],
       [-3.56468689e-01],
       [ 4.09740724e-01],
       [-1.24919787e-01],
       [-5.02445171e-01],
       [-4.37762489e-01],
       [-1.13845709e-01],
       [-3.24253190e-01],
       [-2.41449289e-01],
       [-3.41452240e-01],
       [ 9.46245572e-01],
       [ 1.09322879e+00],
       [ 9.66716653e+00],
       [-1.24919787e-01],
       [-4.92377828e-01],
       [-1.64441595e-02],
       [ 9.55306181e-01],
       [-6.48421654e-01],
       [-4.92377828e-01],
       [-4.37007438e-01],
       [ 1.50673744e-01],
       [-4.91874461e-01],
       [ 2.44149778e+00],
       [ 2.08251241e+00],
       [-2.42463508e-02],
       [-6.48421654e-01],
       [-2.55795253e-01],
       [-5.04214441e-02],
       [-4.92377828e-01],
       [ 9.21244331e-01],
       [-4.92377828e-01],
       [-6.48421654e-01],
       [-6.19988892e-02],
       [-2.40694238e-01],
       [-4.92377828e-01],
       [-4.90279793e-01],
       [-4.57142125e-01],
       [-4.86337422e-01],
       [-1.24919787e-01],
       [-4.74004926e-01],
       [-4.57142125e-01],
       [-4.89442190e-01],
       [-3.86670720e-01],
       [-4.92377828e-01],
       [ 9.39198431e-01],
       [ 1.18542955e+00],
       [-3.89187556e-01],
       [-4.70229672e-01],
       [-4.89442190e-01],
       [-9.02720170e-02],
       [-5.02863973e-01],
       [ 2.40299019e+00],
       [-3.43136943e-02],
       [ 4.33533223e+00],
       [-4.92377828e-01],
       [-1.80290176e-01],
       [-6.48421654e-01],
       [-3.99758267e-01],
       [-4.86337422e-01],
       [ 2.40299019e+00],
       [ 1.58417891e+00],
       [ 1.54424578e+00],
       [-1.65189161e-01],
       [ 4.97829980e-01],
       [ 1.02594470e+00],
       [ 4.63441690e+00],
       [-1.24919787e-01],
       [-4.89442190e-01],
       [-1.19886115e-01],
       [-4.90279793e-01],
       [-1.24919787e-01],
       [-3.66536033e-01],
       [ 2.67111778e+00],
       [ 2.05969377e+00],
       [-5.02445171e-01],
       [-4.89442190e-01],
       [-3.99758267e-01],
       [-6.45157251e-02],
       [ 7.51945840e-01],
       [ 2.08251241e+00],
       [-5.22831542e-01],
       [-3.86670720e-01],
       [-2.35157199e-01],
       [ 5.18971402e-01],
       [-1.80290176e-01],
       [-7.45830687e-02],
       [ 2.44149778e+00],
       [-2.85997284e-01],
       [ 2.04257929e+00],
       [-4.89442190e-01],
       [ 6.92548513e-01],
       [ 2.05969377e+00],
       [-4.86337422e-01],
       [ 6.63597416e-02],
       [-1.24919787e-01],
       [ 4.64700108e+00],
       [-3.86670720e-01],
       [-3.86670720e-01],
       [-3.86670720e-01],
       [-3.86670720e-01],
       [-3.86670720e-01],
       [-3.24253190e-01],
       [-3.28280127e-01],
       [-4.74004926e-01],
       [-4.62679164e-01],
       [ 5.62923980e-02],
       [-5.02863973e-01],
       [-2.90024222e-01],
       [-5.02948539e-01],
       [-4.57142125e-01],
       [ 4.58986142e-01],
       [-3.86670720e-01],
       [-4.89776426e-01],
       [-4.89776426e-01],
       [-8.66638810e-02],
       [-9.02720170e-02],
       [-3.57390858e-01],
       [-5.06472109e-01],
       [-3.36334002e-01],
       [-5.02445171e-01],
       [ 8.66713557e-01],
       [-5.02863973e-01],
       [-4.92377828e-01],
       [ 7.46912168e-01],
       [ 4.67879633e-01],
       [-5.17630753e-01],
       [-4.86337422e-01],
       [ 2.08251241e+00],
       [-2.24083121e-01],
       [ 1.00606170e+00],
       [-5.02445171e-01],
       [ 3.61006469e+00],
       [-5.67631221e-01],
       [-4.91874461e-01],
       [ 3.93272305e+00],
       [-3.31467448e-01],
       [-4.88854258e-01],
       [ 3.98582080e-01],
       [-4.89442190e-01],
       [ 8.31477855e-01],
       [ 2.95895176e-01],
       [-3.86670720e-01],
       [-4.92796629e-01],
       [-4.06805407e-01],
       [ 1.76774081e+00],
       [-4.91455659e-01],
       [-4.88854258e-01],
       [ 1.63233504e+00],
       [-3.12172378e-01],
       [-4.91455659e-01],
       [-4.90279793e-01],
       [-1.24919787e-01],
       [-4.37007438e-01],
       [-3.93717861e-01],
       [-4.88854258e-01],
       [-4.86337422e-01],
       [-4.50598352e-01],
       [-3.29286862e-01],
       [-4.74004926e-01],
       [-2.25593223e-01],
       [-4.92377828e-01],
       [-2.70896269e-01],
       [-4.91874461e-01],
       [-1.35657615e-01],
       [-4.89442190e-01],
       [-5.10331928e-01],
       [ 1.16370019e+00],
       [-6.48421654e-01],
       [-4.88854258e-01],
       [-4.86337422e-01],
       [ 5.95568003e-03],
       [-3.86670720e-01],
       [-3.86670720e-01],
       [-1.62168958e-01],
       [-4.89442190e-01],
       [-4.92714077e-01],
       [-4.89860992e-01],
       [-3.58482158e-01],
       [-2.41449289e-01],
       [-5.02445171e-01],
       [-1.24919787e-01],
       [-1.24919787e-01],
       [-4.92377828e-01],
       [-4.86337422e-01],
       [-1.13845709e-01],
       [-3.24253190e-01],
       [-1.24919787e-01],
       [-5.04962007e-01],
       [ 4.77107360e-01],
       [ 1.76774081e+00],
       [ 4.37082185e-02],
       [-2.70896269e-01],
       [ 4.64700108e+00],
       [-4.37007438e-01],
       [-1.19886115e-01],
       [-4.57142125e-01],
       [-4.91874461e-01],
       [-3.86670720e-01],
       [-4.85079004e-01],
       [ 9.99769611e-01],
       [-2.55795253e-01],
       [-1.13845709e-01],
       [-2.60661807e-01],
       [-3.43136943e-02],
       [-8.96840841e-02],
       [-2.46398395e-01],
       [-8.96840841e-02],
       [ 1.14566354e+00],
       [-4.86337422e-01],
       [-4.89442190e-01],
       [-1.13845709e-01],
       [ 3.95813561e-01],
       [-4.37007438e-01],
       [-4.92377828e-01],
       [-1.13845709e-01],
       [-4.86337422e-01],
       [ 1.26763803e-01],
       [-3.86670720e-01],
       [-4.86337422e-01],
       [-5.06472109e-01],
       [-6.48421654e-01],
       [-1.13845709e-01],
       [-4.92881195e-01],
       [-2.60661807e-01],
       [-5.02445171e-01],
       [-4.74004926e-01],
       [-8.96840841e-02],
       [-3.70730088e-01],
       [-4.50346668e-01],
       [ 3.98582080e-01],
       [-2.25593223e-01],
       [-5.06556675e-01],
       [-4.96992698e-01],
       [-4.01016685e-01],
       [ 2.95895176e-01],
       [-6.48421654e-01],
       [-4.86337422e-01],
       [-4.55380340e-01],
       [ 1.18542955e+00],
       [-1.35657615e-01],
       [ 1.16370019e+00],
       [-5.04214441e-02],
       [-4.86337422e-01],
       [-3.28280127e-01],
       [-2.46398395e-01],
       [-5.02445171e-01],
       [-3.43136943e-02],
       [ 3.48329928e-01],
       [-4.86337422e-01],
       [-3.57308306e-01],
       [ 9.27453868e-01],
       [-3.44387877e-01],
       [ 2.40299019e+00],
       [-4.91455659e-01],
       [-4.74004926e-01],
       [-4.92377828e-01],
       [-4.94810098e-01],
       [-4.55380340e-01],
       [ 1.09322879e+00],
       [ 1.54424578e+00],
       [-1.24919787e-01],
       [-1.13845709e-01],
       [-1.94887825e-01],
       [ 4.89103607e-01],
       [-4.92377828e-01],
       [-4.86337422e-01],
       [-1.19131064e-01],
       [ 5.47578765e-01],
       [-4.97496065e-01],
       [ 3.65765123e-02],
       [-4.37007438e-01],
       [-1.62168958e-01],
       [-1.24919787e-01],
       [-4.89442190e-01],
       [ 1.23417160e+00],
       [-4.89442190e-01],
       [-5.02948539e-01],
       [ 5.18971402e-01],
       [-5.02863973e-01],
       [-4.92377828e-01],
       [-4.37007438e-01],
       [ 3.81703316e+00],
       [-4.88854258e-01],
       [-4.16872751e-01],
       [-1.24919787e-01],
       [-5.02863973e-01],
       [-5.02863973e-01],
       [-1.98244277e-01],
       [-4.74004926e-01],
       [-1.19886115e-01],
       [-1.13845709e-01],
       [ 1.49441243e+00],
       [-3.56468689e-01],
       [ 3.48245362e-01],
       [ 7.81141137e-01],
       [-1.87093118e-02],
       [-1.87093118e-02],
       [-1.24919787e-01],
       [ 1.49441243e+00],
       [-1.24919787e-01],
       [-1.24919787e-01],
       [-3.69304552e-01],
       [-2.35157199e-01],
       [ 9.15281006e-02],
       [ 1.58417891e+00],
       [-1.24919787e-01],
       [-4.90783161e-01],
       [-5.02948539e-01],
       [-4.91874461e-01],
       [-1.13845709e-01],
       [ 1.48911959e-01],
       [ 3.93272305e+00],
       [ 9.55306181e-01],
       [-2.98078096e-01],
       [-4.92377828e-01],
       [-4.89442190e-01],
       [-3.76603377e-01],
       [-4.86337422e-01],
       [-4.86337422e-01],
       [-1.62168958e-01],
       [-4.89442190e-01],
       [-2.24083121e-01],
       [-5.02863973e-01],
       [-4.90279793e-01],
       [-4.37007438e-01],
       [ 3.88095935e-01],
       [-1.17117595e-01],
       [-4.92377828e-01],
       [-4.86337422e-01],
       [-3.56468689e-01],
       [-3.86670720e-01],
       [ 4.77107360e-01],
       [-3.57308306e-01],
       [-4.88854258e-01],
       [-4.43810379e-02],
       [ 1.58417891e+00],
       [-1.24919787e-01],
       [ 1.59482670e-01],
       [-4.72998191e-01],
       [ 9.55306181e-01],
       [-3.46401346e-01],
       [ 9.46245572e-01],
       [-4.86337422e-01],
       [-4.86337422e-01],
       [-5.04962007e-01],
       [ 9.27453868e-01],
       [-5.02445171e-01],
       [-4.92377828e-01],
       [-1.24919787e-01],
       [-1.62168958e-01],
       [ 1.60230236e-02],
       [-6.48421654e-01],
       [-5.02948539e-01],
       [ 4.97829980e-01],
       [-1.04785100e-01],
       [-4.89442190e-01],
       [ 2.05289083e-01],
       [-4.86337422e-01],
       [-1.13845709e-01],
       [-3.35327268e-01],
       [-4.89442190e-01],
       [-3.43136943e-02],
       [ 1.88762532e-01],
       [ 2.44149778e+00],
       [-1.87093118e-02],
       [-5.06472109e-01],
       [-3.36334002e-01],
       [-4.92377828e-01],
       [-4.86337422e-01],
       [ 6.60333014e-01],
       [-3.58482158e-01],
       [-3.24253190e-01],
       [ 1.36831147e-01],
       [-4.37007438e-01],
       [-3.57390858e-01],
       [ 4.09740724e-01],
       [-3.31467448e-01],
       [-4.90279793e-01],
       [-3.24253190e-01],
       [ 2.34754408e-03],
       [-3.99758267e-01],
       [ 9.21244331e-01],
       [-4.89442190e-01],
       [-4.92714077e-01],
       [-4.43810379e-02],
       [-5.06387543e-01],
       [-3.43136943e-02],
       [-6.48421654e-01],
       [-8.66638810e-02],
       [-3.86670720e-01],
       [-4.88854258e-01],
       [-1.19886115e-01],
       [ 1.50673744e-01],
       [-3.24253190e-01],
       [-4.90279793e-01],
       [ 7.46912168e-01],
       [-8.66638810e-02],
       [ 4.89103607e-01],
       [-2.60661807e-01],
       [ 8.96496787e-01],
       [-4.89442190e-01],
       [ 6.63597416e-02],
       [-4.96404765e-01],
       [-4.96404765e-01],
       [-4.89442190e-01],
       [-1.85323848e-01],
       [-4.78619796e-01],
       [-4.90783161e-01],
       [-5.12512515e-01],
       [ 8.31477855e-01],
       [-4.89442190e-01],
       [-3.36334002e-01],
       [-3.86670720e-01],
       [ 1.63233504e+00],
       [ 2.04257929e+00],
       [-5.02948539e-01],
       [-1.33225345e-01],
       [-4.97496065e-01],
       [-4.88854258e-01],
       [ 8.31477855e-01],
       [-3.86670720e-01],
       [-4.91874461e-01],
       [-4.86337422e-01],
       [ 3.98582080e-01],
       [ 1.36831147e-01],
       [ 3.98582080e-01],
       [-4.37007438e-01],
       [-3.86670720e-01],
       [-6.48421654e-01],
       [-4.91874461e-01],
       [-4.86337422e-01],
       [-4.50262103e-01],
       [ 2.95895176e-01],
       [ 9.66716653e+00],
       [-4.84575637e-01],
       [ 8.96496787e-01],
       [-4.62679164e-01],
       [ 2.95895176e-01],
       [ 1.36831147e-01],
       [ 1.88762532e-01],
       [ 1.50673744e-01],
       [-4.43635777e-01],
       [-4.91455659e-01],
       [ 3.60679280e+00],
       [ 4.99255516e-01],
       [-3.78280596e-01],
       [ 4.89103607e-01],
       [-5.02948539e-01],
       [-1.13845709e-01],
       [-3.76603377e-01],
       [-4.86337422e-01],
       [-4.92714077e-01],
       [ 1.58417891e+00],
       [-4.94391297e-01],
       [ 3.93272305e+00],
       [-1.19131064e-01],
       [-3.57390858e-01],
       [-4.92544946e-01],
       [-4.90279793e-01],
       [-1.24919787e-01],
       [-3.76603377e-01],
       [-1.19131064e-01],
       [ 2.40299019e+00],
       [-3.41452240e-01],
       [ 3.48329928e-01],
       [-1.13845709e-01],
       [ 3.98582080e-01],
       [-4.57478375e-01],
       [-3.86670720e-01],
       [-4.94391297e-01],
       [ 3.93272305e+00],
       [-4.37007438e-01],
       [-3.36334002e-01],
       [-4.91874461e-01],
       [ 1.60230236e-02],
       [-5.06387543e-01],
       [-3.86670720e-01],
       [-3.86670720e-01],
       [ 4.20730236e-01],
       [-4.74004926e-01],
       [-2.25593223e-01],
       [-4.92629511e-01],
       [-1.24919787e-01],
       [-4.88854258e-01],
       [ 3.60679280e+00],
       [-2.70141218e-01],
       [-6.48421654e-01],
       [-3.86670720e-01],
       [-3.86670720e-01],
       [-3.24253190e-01],
       [ 4.37082185e-02],
       [ 9.66716653e+00],
       [-4.89442190e-01],
       [-4.89442190e-01],
       [-4.43810379e-02],
       [ 9.39198431e-01],
       [ 4.63441690e+00],
       [-3.24253190e-01],
       [-4.88854258e-01],
       [ 7.81141137e-01],
       [-2.40694238e-01],
       [-3.86670720e-01],
       [ 4.20730236e-01],
       [-4.92377828e-01],
       [-1.85323848e-01],
       [-3.97241431e-01],
       [-4.57142125e-01],
       [-4.89442190e-01],
       [ 6.60333014e-01],
       [-3.56468689e-01],
       [-4.91455659e-01],
       [-4.16872751e-01],
       [-4.86337422e-01],
       [ 1.09322879e+00],
       [-3.56468689e-01],
       [-5.04962007e-01],
       [-5.02863973e-01],
       [ 1.76774081e+00],
       [-4.91874461e-01],
       [ 9.21244331e-01],
       [ 1.48911959e-01],
       [-4.92377828e-01],
       [-1.62168958e-01],

sigmoid(w1\*x1+w2\*x2+w3\*x3...)

#### 1.统计结果作为特征

In [25]:
# max min
max_age = df_train["Age"].max()
min_age = df_train["Age"].min()

In [26]:
age_quarter_1 = df_train['Age'].quantile(0.25)

In [27]:
age_quarter_1

20.125

In [28]:
age_quarter_3 = df_train['Age'].quantile(0.75)

In [29]:
age_quarter_3

38.0

#### 2.四则运算

In [30]:
df_train.loc[:,'family_size'] = df_train['SibSp'] + df_train['Parch'] + 1

In [31]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,family_size
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1

#### 3.高次特征和交叉特征

In [32]:
from sklearn.preprocessing import PolynomialFeatures

In [33]:
poly = PolynomialFeatures(degree=2)

In [34]:
poly_fea = poly.fit_transform(df_train[['SibSp', 'Fare']])

In [35]:
poly_fea.shape

(891, 6)

#### 4.离散化/分箱/分桶

pandas cut qcut

In [38]:
df_train.loc[:,'fare_cut'] = pd.cut(df_train['Fare'],5)

In [39]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,family_size,fare_cut
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2,"(-0.512, 102.466]"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,"(-0.512, 102.466]"
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1,"(-0.512, 102.466]"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2,"(-0.512, 102.466]"
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,"(-0.512, 102.466]"

In [40]:
df_train.fare_cut.value_counts()

(-0.512, 102.466]     838
(102.466, 204.932]     33
(204.932, 307.398]     17
(409.863, 512.329]      3
(307.398, 409.863]      0
Name: fare_cut, dtype: int64

In [41]:
df_train.loc[:,'fare_qcut'] = pd.qcut(df_train['Fare'],5)

In [42]:
df_train.fare_qcut.value_counts()

(7.854, 10.5]        184
(21.679, 39.688]     180
(-0.001, 7.854]      179
(39.688, 512.329]    176
(10.5, 21.679]       172
Name: fare_qcut, dtype: int64

#### 平展开处理
[1,0,0,0,0]<br>
[0,1,0,0,0]<br>
[0,0,1,0,0]<br>
...

#### 5.独热向量编码

In [43]:
df_train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,family_size,fare_cut,fare_qcut
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,2,"(-0.512, 102.466]","(-0.001, 7.854]"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,"(-0.512, 102.466]","(39.688, 512.329]"

In [44]:
embarked_oht = pd.get_dummies(df_train[['Embarked']])

In [45]:
embarked_oht

     Embarked_C  Embarked_Q  Embarked_S
0             0           0           1
1             1           0           0
2             0           0           1
3             0           0           1
4             0           0           1
5             0           1           0
6             0           0           1
7             0           0           1
8             0           0           1
9             1           0           0
10            0           0           1
11            0           0           1
12            0           0           1
13            0           0           1
14            0           0           1
15            0           0           1
16            0           1           0
17            0           0           1
18            0           0           1
19            1           0           0
20            0           0           1
21            0           0           1
22            0           1           0
23            0           0           1
24            0           0           1
25            0           0           1
26            1           0           0
27            0           0           1
28            0           1           0
29            0           0           1
..          ...         ...         ...
861           0           0           1
862           0           0           1
863           0           0           1
864           0           0           1
865           0           0           1
866           1           0           0
867           0           0           1
868           0           0           1
869           0           0           1
870           0           0           1
871           0           0           1
872           0           0           1
873           0           0           1
874           1           0           0
875           1           0           0
876           0           0           1
877           0           0           1
878           0           0           1
879           1           0           0
880           0           0           1
881           0           0           1
882           0           0           1
883           0           0           1
884           0           0           1
885           0           1           0
886           0           0           1
887           0           0           1
888           0           0           1
889           1           0           0
890           0           1           0

[891 rows x 3 columns]

In [46]:
pd.get_dummies(df_train[['fare_qcut']])

,"fare_qcut_(-0.001, 7.854]","fare_qcut_(7.854, 10.5]","fare_qcut_(10.5, 21.679]","fare_qcut_(21.679, 39.688]","fare_qcut_(39.688, 512.329]"
0,1,0,0,0,0
1,0,0,0,0,1
2,0,1,0,0,0
3,0,0,0,0,1
4,0,1,0,0,0
5,0,1,0,0,0
6,0,0,0,0,1
7,0,0,1,0,0
8,0,0,1,0,0
9,0,0,0,1,0
10,0,0,1,0,0
11,0,0,0,1,0
12,0,1,0,0,0
13,0,0,0,1,0
14,1,0,0,0,0
15,0,0,1,0,0
16,0,0,0,1,0
17,0,0,1,0,0
18,0,0,1,0,0
19,1,0,0,0,0
20,0,0,0,1,0
21,0,0,1,0,0
22,0,1,0,0,0
23,0,0,0,1,0
24,0,0,1,0,0
25,0,0,0,1,0
26,1,0,0,0,0
27,0,0,0,0,1
28,0,1,0,0,0
29,0,1,0,0,0
...,...,...,...,...,...
861,0,0,1,0,0
862,0,0,0,1,0
863,0,0,0,0,1
864,0,0,1,0,0
865,0,0,1,0,0
866,0,0,1,0,0
867,0,0,0,0,1
868,0,1,0,0,0
869,0,0,1,0,0
870,0,1,0,0,0
871,0,0,0,0,1
872,1,0,0,0,0
873,0,1,0,0,0
874,0,0,0,1,0
875,1,0,0,0,0
876,0,1,0,0,0
877,0,1,0,0,0
878,0,1,0,0,0
879,0,0,0,0,1
880,0,0,0,1,0
881,0,1,0,0,0
882,0,0,1,0,0
883,0,1,0,0,0
884,1,0,0,0,0
885,0,0,0,1,0
886,0,0,1,0,0
887,0,0,0,1,0
888,0,0,0,1,0
889,0,0,0,1,0
890,1,0,0,0,0

#### 6.时间型

In [47]:
df_time = pd.DataFrame({'date':['20180314', '20180311', '20180227','20180114'],'cnt':[21,25,16,19]})

In [48]:
df_time

   cnt      date
0   21  20180314
1   25  20180311
2   16  20180227
3   19  20180114

In [49]:
df_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
cnt     4 non-null int64
date    4 non-null object
dtypes: int64(1), object(1)
memory usage: 144.0+ bytes

In [50]:
df_time.loc[:,'dt'] = pd.to_datetime(df_time['date'])

In [51]:
df_time.head()

   cnt      date         dt
0   21  20180314 2018-03-14
1   25  20180311 2018-03-11
2   16  20180227 2018-02-27
3   19  20180114 2018-01-14

In [52]:
df_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
cnt     4 non-null int64
date    4 non-null object
dt      4 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 176.0+ bytes

In [53]:
df_time.loc[:,'month'] = df_time['dt'].dt.month

In [54]:
df_time.head()

   cnt      date         dt  month
0   21  20180314 2018-03-14      3
1   25  20180311 2018-03-11      3
2   16  20180227 2018-02-27      2
3   19  20180114 2018-01-14      1

In [56]:
df_time.loc[:,'doy'] = df_time['dt'].dt.dayofyear

In [57]:
df_time

   cnt      date         dt  month  doy
0   21  20180314 2018-03-14      3   73
1   25  20180311 2018-03-11      3   70
2   16  20180227 2018-02-27      2   58
3   19  20180114 2018-01-14      1   14

In [58]:
df_time.loc[:,'dow'] = df_time['dt'].dt.dayofweek

In [59]:
df_time

   cnt      date         dt  month  doy  dow
0   21  20180314 2018-03-14      3   73    2
1   25  20180311 2018-03-11      3   70    6
2   16  20180227 2018-02-27      2   58    1
3   19  20180114 2018-01-14      1   14    6

In [60]:
tmp = df_time['dt'].dt

In [61]:
tmp.weekday

0    2
1    6
2    1
3    6
Name: dt, dtype: int64

### 特征选择

### 过滤式/Filter

In [62]:
from sklearn.datasets import load_iris
from sklearn.feature_selection import SelectKBest

In [63]:
iris = load_iris()

In [64]:
X, y = iris.data, iris.target

In [66]:
X.shape

(150, 4)

In [67]:
X_new = SelectKBest(k=2).fit_transform(X,y)

In [68]:
X_new.shape

(150, 2)

In [76]:
X_new[:6,:]

array([[1.4, 0.2],
       [1.4, 0.2],
       [1.3, 0.2],
       [1.5, 0.2],
       [1.4, 0.2],
       [1.7, 0.4]])

### 包裹式/wrapper

In [69]:
from sklearn.feature_selection import RFE

In [70]:
from sklearn.ensemble import RandomForestClassifier

In [71]:
rf = RandomForestClassifier()

In [72]:
rfe = RFE(estimator=rf, n_features_to_select=2)

In [73]:
X_rfe = rfe.fit_transform(X,y)

In [75]:
X_rfe[:6,:]

array([[1.4, 0.2],
       [1.4, 0.2],
       [1.3, 0.2],
       [1.5, 0.2],
       [1.4, 0.2],
       [1.7, 0.4]])

### 嵌入式/Embedded

In [78]:
from sklearn.feature_selection import SelectFromModel

In [79]:
from sklearn.svm import LinearSVC

In [80]:
lsvc = LinearSVC(C=0.01, penalty='l1', dual=False).fit(X,y)

In [81]:
model = SelectFromModel(lsvc, prefit=True)

In [82]:
X_embedd = model.transform(X)

In [84]:
X_embedd.shape

(150, 3)

In [85]:
help(SelectFromModel)

Help on class SelectFromModel in module sklearn.feature_selection.from_model:

class SelectFromModel(sklearn.base.BaseEstimator, sklearn.feature_selection.base.SelectorMixin, sklearn.base.MetaEstimatorMixin)
 |  Meta-transformer for selecting features based on importance weights.
 |
 |  .. versionadded:: 0.17
 |
 |  Parameters
 |  ----------
 |  estimator : object
 |      The base estimator from which the transformer is built.
 |      This can be both a fitted (if ``prefit`` is set to True)
 |      or a non-fitted estimator. The estimator must have either a
 |      ``feature_importances_`` or ``coef_`` attribute after fitting.
 |
 |  threshold : string, float, optional default None
 |      The threshold value to use for feature selection. Features whose
 |      importance is greater or equal are kept while the others are
 |      discarded. If "median" (resp. "mean"), then the ``threshold`` value is
 |      the median (resp. the mean) of the feature importances. A scaling
 |      factor (e.g., "1.25*mean") may also be used. If None and if the
 |      estimator has a parameter penalty set to l1, either explicitly
 |      or implicitly (e.g, Lasso), the threshold used is 1e-5.
 |      Otherwise, "mean" is used by default.
 |
 |  prefit : bool, default False
 |      Whether a prefit model is expected to be passed into the constructor
 |      directly or not. If True, ``transform`` must be called directly
 |      and SelectFromModel cannot be used with ``cross_val_score``,
 |      ``GridSearchCV`` and similar utilities that clone the estimator.
 |      Otherwise train the model using ``fit`` and then ``transform`` to do
 |      feature selection.
 |
 |  norm_order : non-zero int, inf, -inf, default 1
 |      Order of the norm used to filter the vectors of coefficients below
 |      ``threshold`` in the case where the ``coef_`` attribute of the
 |      estimator is of dimension 2.
 |
 |  Attributes
 |  ----------
 |  estimator_ : an estimator
 |      The base estimator from which the transformer is built.
 |      This is stored only when a non-fitted estimator is passed to the
 |      ``SelectFromModel``, i.e when prefit is False.
 |
 |  threshold_ : float
 |      The threshold value used for feature selection.
 |
 |  Method resolution order:
 |      SelectFromModel
 |      sklearn.base.BaseEstimator
 |      sklearn.feature_selection.base.SelectorMixin
 |      abc.NewBase
 |      sklearn.base.TransformerMixin
 |      sklearn.base.MetaEstimatorMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, estimator, threshold=None, prefit=False, norm_order=1)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None, **fit_params)
 |      Fit the SelectFromModel meta-transformer.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The training input samples.
 |
 |      y : array-like, shape (n_samples,)
 |          The target values (integers that correspond to classes in
 |          classification, real numbers in regression).
 |
 |      **fit_params : Other estimator specific parameters
 |
 |      Returns
 |      -------
 |      self : object
 |          Returns self.
 |
 |  partial_fit(self, X, y=None, **fit_params)
 |      Fit the SelectFromModel meta-transformer only once.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          The training input samples.
 |
 |      y : array-like, shape (n_samples,)
 |          The target values (integers that correspond to classes in
 |          classification, real numbers in regression).
 |
 |      **fit_params : Other estimator specific parameters
 |
 |      Returns
 |      -------
 |      self : object
 |          Returns self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  threshold_
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : boolean, optional
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Returns
 |      -------
 |      self
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.feature_selection.base.SelectorMixin:
 |
 |  get_support(self, indices=False)
 |      Get a mask, or integer index, of the features selected
 |
 |      Parameters
 |      ----------
 |      indices : boolean (default False)
 |          If True, the return value will be an array of integers, rather
 |          than a boolean mask.
 |
 |      Returns
 |      -------
 |      support : array
 |          An index that selects the retained features from a feature vector.
 |          If `indices` is False, this is a boolean array of shape
 |          [# input features], in which an element is True iff its
 |          corresponding feature is selected for retention. If `indices` is
 |          True, this is an integer array of shape [# output features] whose
 |          values are indices into the input feature vector.
 |
 |  inverse_transform(self, X)
 |      Reverse the transformation operation
 |
 |      Parameters
 |      ----------
 |      X : array of shape [n_samples, n_selected_features]
 |          The input samples.
 |
 |      Returns
 |      -------
 |      X_r : array of shape [n_samples, n_original_features]
 |          `X` with columns of zeros inserted where features would have
 |          been removed by `transform`.
 |
 |  transform(self, X)
 |      Reduce X to the selected features.
 |
 |      Parameters
 |      ----------
 |      X : array of shape [n_samples, n_features]
 |          The input samples.
 |
 |      Returns
 |      -------
 |      X_r : array of shape [n_samples, n_selected_features]
 |          The input samples with only the selected features.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to X and y with optional parameters fit_params
 |      and returns a transformed version of X.
 |
 |      Parameters
 |      ----------
 |      X : numpy array of shape [n_samples, n_features]
 |          Training set.
 |
 |      y : numpy array of shape [n_samples]
 |          Target values.
 |
 |      Returns
 |      -------
 |      X_new : numpy array of shape [n_samples, n_features_new]
 |          Transformed array.