## 七月在线机器学习实训营三期第七周(机器学习-模型调优与融合)考试
#### 考试说明:
- 起止时间：请同学在2018年3月23日至3月25日期间完成，最晚提交时间本周日（3月25日24时之前）结束，<b>逾期不接受补考,该考试分数计入平时成绩</b>
- 考试方式：请同学<font color=red><b>拷贝</b></font>该试卷至自己姓名的目录后，将文件更名为同学姓名拼音-exam7后，进行作答。例如wangwei-exam7
- 提交格式：请同学新建自己姓名全拼的文件夹，将该试卷，数据文件，zip文件等相关考试文件，放置此目录下。将该目录<b>移动</b>至/0.Teacher/Exam/7/目录下
- 注意事项：为确保同学们真正了解自身对本周课程的掌握程度，<font color=red><b>请勿翻阅，移动，更改</b></font>其它同学试卷。如发现按0分处理
- 请同学在下方同学姓名处填写自己的姓名，批改人和最终得分不用填写

- 同学姓名:<u>__李猛___</u>  
- 批改人： David
- 最终得分: 100

<center><h1>####答卷开始####</h1></center>
<hr>

## 简答题(共6题，1，2题每题5分，后4题每题10分，共计50分)
- note:50

#### 1. 机器学习任务中，通常会将给定数据切分为训练集，验证集，测试集，请回答这三类数据集各自的用途。

答：  
训练集：用于训练模型;   
验证集：一般从给定的数据集中分割出来，作为调参的评估使用;   
测试集：用于对最终训练模型的评估

#### 2.如何将数据转换成xgboost内置用法的libsvm数据格式，以及该格式数据是如何解读的?

答：  
d_train = xgb.DMatrix(data=X_train, label=y_train)
  
第一列数据为标签label，后面每个数据为A:B的形式，A为列号，B为值

#### 3. 对于自动特征选择，通常有哪三类方法？试写出每类方式的思想，以及在sklearn中的代码实现（面试题）

答：  
* Filter：过滤法，按照发散性或者相关性对各个特征进行评分，设定阈值或者待选择阈值的个数，选择特征。
常用的有Relief法，即分别使用正样本（猜对近邻）和负样本（猜错近邻）与待测样本的特征值进行做差（归一化后），若某特征与猜对近邻距离远小于猜错近邻，说明此特征有益于分类。反之，则益处不大。  
  实现：  
 sklearn.feature_selection.SelectKBest(score_func=<function f_classif>, k=10)
* Wrapper：包装法，根据目标函数（通常是预测效果评分），每次选择若干特征，或者排除若干特征。
包裹法是选取部分特征进行交叉验证，多次迭代后，进行比较，若某些特征准确率高，则保留下来。  
实现：   
svc = SVC(kernel="linear", C=1)   
rfe = RFE(estimator=svc, n_features_to_select=1, step=1)
* Embedded：嵌入法，先使用某些机器学习的算法和模型进行训练，得到各个特征的权值系数，根据系数从大到小选择特征。类似于Filter方法，但是是通过训练来确定特征的优劣。
嵌入式选择伴随着L1正则化，利用L1正则化容易产生系数矩阵的特性，可以抵消掉某些特征，达到降低维度的目的。  
实现：  
lsvc = LinearSVC(C=0.01, penalty="l1", dual=False).fit(X, y)   
model = SelectFromModel(lsvc, prefit=True)   
X_new = model.transform(X)

#### 4.网格搜索交叉验证的作用是什么，并简述网格搜索交叉验证是如何运行的？

答：  
遍历采用所有参数,集成K折验证，选出最优参数。  
网格搜索和交叉验证是两码事。网格搜索是遍历所有参数，在验证集上评估参数优劣，选出最优参数。  
交叉验证是将训练集分割为K份，然后轮番把各个数据集当做训练集和验证集，最后将结果归纳。

#### 5.工业界上模型整合有三大类方式？试简述每类方式其思想？（面试题）

答：  
* Bagging
对数据集随机采样，然后使用同质模型分别训练，最后采取平均值。随机森林在bagging基础上做了修改：从所有属性中随机选择k个属性。
* Stacking  
使用不同的算法训练后，对输出结果套用第二层算法模型，另外blending基于stacking，将第二层模型简化为线性模型，如linearR，logisticR
* Boosting
基于残差学习，重复学习
容易过拟合，常基于弱分类器。Adaboost
对样本调节权重，在损失函数中增加样本的权重。使用多个弱学习器进行效果叠加，分为回归adaboost和分类adaboost

#### 6.  我们可以将xgboost的中众多参数分类为哪三类？请写出哪些参数可以用什么方式用来控制过拟合？

答：  
通用参数-General parameters，booster参数-Booster parameters，任务型参数-Task parameters  
eta：学习率， 通过减少每一步的权重，可以提高模型的鲁棒性。  
max_depth：最大树深，max_depth越大，模型会学到更具体更局部的样本。 需要使用CV函数来进行调优。  
min_chid_weight：最小样本权重的和。  
subsample：这个参数控制对于每棵树，随机采样的比例。 减小这个参数的值，算法会更加保守，避免过拟合。

## 实验题(共2题，每题25分，共计50分)

- note: 50

### 1. 使用XGBoost内置方式，导入iris数据完成分类问题（要求以不同参数设置xgboost运行并比对），最后给出实验总结

In [15]:
# 导入所需的库
import xgboost as xgb
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, mean_squared_error
# 加载数据
iris = load_iris()

In [16]:
X = iris.data
Y = iris.target

In [17]:
X[:3,:]

array([[ 5.1,  3.5,  1.4,  0.2],
       [ 4.9,  3. ,  1.4,  0.2],
       [ 4.7,  3.2,  1.3,  0.2]])

In [18]:
Y[:3]

array([0, 0, 0])

In [19]:
X.shape

(150, 4)

In [20]:
# 分割数据集
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=0)
print(X_train.shape,X_test.shape)

(112, 4) (38, 4)

In [65]:
d_train = xgb.DMatrix(data=X_train, label=y_train)
d_test = xgb.DMatrix(data=X_test, label=y_test)

In [100]:
#先跑一轮
param = {'max_depth':3, 'eta':0.05, 'objective':'multi:softmax', 'num_class':3}

bst = xgb.cv(param, d_train, nfold=10,seed = 2018)
bst

   test-merror-mean  test-merror-std  train-merror-mean  train-merror-std
0          0.027273          0.04166           0.017851          0.003951
1          0.027273          0.04166           0.017851          0.003951
2          0.027273          0.04166           0.017851          0.003951
3          0.027273          0.04166           0.017851          0.003951
4          0.027273          0.04166           0.017851          0.003951
5          0.027273          0.04166           0.017851          0.003951
6          0.027273          0.04166           0.018842          0.005319
7          0.027273          0.04166           0.019832          0.007657
8          0.027273          0.04166           0.019832          0.007657
9          0.027273          0.04166           0.019832          0.007657

In [79]:
bst = clf.fit(X_train,y_train)

# 评分
bst.score(X_test,y_test)

0.97368421052631582

In [82]:
# 评估
# 混淆矩阵
print(confusion_matrix(y_test, predictions))
# MSE
print('MSE:\n', mean_squared_error(y_test, predictions))

[[13  0  0]
 [ 0 15  1]
 [ 0  0  9]]
MSE:
 0.0263157894737

In [104]:
# 调参 
# 学习率由0.05调整为0.3
param = {'max_depth':3, 'eta':0.3, 'objective':'multi:softmax', 'num_class':3}
xgb.cv(param, d_train, nfold=10,seed = 2018)

   test-merror-mean  test-merror-std  train-merror-mean  train-merror-std
0          0.027273         0.041660           0.017851          0.003951
1          0.036364         0.044536           0.019832          0.007657
2          0.036364         0.044536           0.019832          0.007657
3          0.036364         0.044536           0.019832          0.007657
4          0.036364         0.044536           0.019842          0.007670
5          0.045454         0.060984           0.018852          0.008230
6          0.036364         0.044536           0.014861          0.007976
7          0.036364         0.044536           0.010901          0.008223
8          0.036364         0.044536           0.009911          0.006262
9          0.036364         0.044536           0.006941          0.004544

#### 总结：学习率提升到0.3后，在训练集上错误率降低的更快了，但是训练集错误率有所上升。

In [106]:
# 学习率由0.3调整为0.6
param = {'max_depth':3, 'eta':0.6, 'objective':'multi:softmax', 'num_class':3}
xgb.cv(param, d_train, nfold=10,seed = 2018)

   test-merror-mean  test-merror-std  train-merror-mean  train-merror-std
0          0.027273         0.041660           0.017851          0.003951
1          0.036364         0.044536           0.020832          0.006925
2          0.045454         0.060984           0.022812          0.008898
3          0.045454         0.060984           0.012901          0.006357
4          0.036364         0.044536           0.005960          0.004867
5          0.036364         0.044536           0.003970          0.004863
6          0.036364         0.044536           0.000990          0.002970
7          0.036364         0.044536           0.000000          0.000000
8          0.036364         0.044536           0.000000          0.000000
9          0.036364         0.044536           0.000000          0.000000

总结：学习率提升到0.6后，在训练集上错误率提前降低到0，并达到稳定状态，但是训练集错误率有所上升，相比学习率为0.3时，测试集的错误率一致。可能在训练集出现过拟合。

In [143]:
# 交叉验证nfold参数由10折调整为5折，其他采用原始参数
param = {'max_depth':3, 'eta':0.05, 'objective':'multi:softmax', 'num_class':3}
xgb.cv(param, d_train, nfold=5,seed = 2018)

   test-merror-mean  test-merror-std  train-merror-mean  train-merror-std
0          0.044664         0.000969           0.015630          0.005485
1          0.044664         0.000969           0.013408          0.008362
2          0.035969         0.018001           0.013408          0.008362
3          0.035969         0.018001           0.013408          0.008362
4          0.035969         0.018001           0.013408          0.008362
5          0.035969         0.018001           0.011161          0.009994
6          0.035969         0.018001           0.011161          0.009994
7          0.035969         0.018001           0.013383          0.008369
8          0.035969         0.018001           0.013383          0.008369
9          0.035969         0.018001           0.013383          0.008369

分析：训练集分割份数减少后，训练集的错误率稳定在0.013383，相比原始参数10折的训练结果0.019832有所下降。

In [150]:
# 调整树最大深度3
param = {'max_depth':3, 'eta':0.1, 'objective':'multi:softmax', 'num_class':3}
xgb.cv(param, d_train, nfold=5,seed = 2018)

   test-merror-mean  test-merror-std  train-merror-mean  train-merror-std
0          0.044664         0.000969           0.015630          0.005485
1          0.044664         0.000969           0.013408          0.008362
2          0.035969         0.018001           0.013408          0.008362
3          0.035969         0.018001           0.013408          0.008362
4          0.035969         0.018001           0.015630          0.005485
5          0.035969         0.018001           0.013383          0.008369
6          0.035969         0.018001           0.013383          0.008369
7          0.035969         0.018001           0.013383          0.008369
8          0.035969         0.018001           0.013383          0.008369
9          0.035969         0.018001           0.015630          0.005485

In [151]:
# 调整树最大深度6
param = {'max_depth':6, 'eta':0.1, 'objective':'multi:softmax', 'num_class':3}
xgb.cv(param, d_train, nfold=5,seed = 2018)

   test-merror-mean  test-merror-std  train-merror-mean  train-merror-std
0          0.044664         0.000969           0.015630          0.005485
1          0.044664         0.000969           0.013408          0.008362
2          0.035969         0.018001           0.013408          0.008362
3          0.035969         0.018001           0.013408          0.008362
4          0.035969         0.018001           0.015630          0.005485
5          0.035969         0.018001           0.013383          0.008369
6          0.035969         0.018001           0.013383          0.008369
7          0.035969         0.018001           0.011136          0.007027
8          0.035969         0.018001           0.011136          0.007027
9          0.035969         0.018001           0.013383          0.004420

分析：树的最大深度增大后（3->6），最终，训练集的错误率变得更低。同时，树越深，迭代次数越多（深度3时第5步稳定，深度6时第7步稳定）

### 2. 使用XGBoost的sklearn接口，对KaggleCredit2数据完成信用卡欺诈项目的建模及分析（要求以不同参数设置xgboost运行并比对），最后给出实验总结

- KaggleCredit2数据文件 位于/home/sxy-s3/0.Teacher/Exam/KaggleCredit2.csv.zip，请勿复制或移动该文件

### 1.数据准备

In [37]:
# 导入必备包
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
import pandas as pd
# 导入数据
data = pd.read_csv('KaggleCredit2.csv')
data.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,0,1,0.766127,45.0,2.0,0.802982,9120.0,13.0,0.0,6.0,0.0,2.0
1,1,0,0.957151,40.0,0.0,0.121876,2600.0,4.0,0.0,0.0,0.0,1.0
2,2,0,0.658180,38.0,1.0,0.085113,3042.0,2.0,1.0,0.0,0.0,0.0
3,3,0,0.233810,30.0,0.0,0.036050,3300.0,5.0,0.0,0.0,0.0,0.0
4,4,0,0.907239,49.0,1.0,0.024926,63588.0,7.0,0.0,1.0,0.0,0.0

In [38]:
data.describe()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,112915.00000,112915.000000,112915.000000,108648.000000,112915.000000,112915.000000,1.129150e+05,112915.000000,112915.000000,112915.000000,112915.000000,108648.000000
mean,56457.00000,0.067449,5.825057,51.361304,0.378807,0.306221,6.959809e+03,8.675561,0.213594,1.015587,0.188531,0.856574
std,32595.89716,0.250799,254.976948,14.453571,3.521621,0.222926,1.478193e+04,5.124575,3.489531,1.080925,3.472207,1.149537
min,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28228.50000,0.000000,0.034371,41.000000,0.000000,0.133458,3.637000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,56457.00000,0.000000,0.173016,51.000000,0.000000,0.278272,5.600000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,84685.50000,0.000000,0.570906,62.000000,0.000000,0.440113,8.416000e+03,11.000000,0.000000,2.000000,0.000000,2.000000
max,112914.00000,1.000000,50708.000000,103.000000,98.000000,0.999909,3.008750e+06,57.000000,98.000000,29.000000,98.000000,20.000000

In [162]:
data.shape

(112915, 12)

In [2]:
# 查看缺失值
data.isnull().sum()

Unnamed: 0                                 0
SeriousDlqin2yrs                           0
RevolvingUtilizationOfUnsecuredLines       0
age                                     4267
NumberOfTime30-59DaysPastDueNotWorse       0
DebtRatio                                  0
MonthlyIncome                              0
NumberOfOpenCreditLinesAndLoans            0
NumberOfTimes90DaysLate                    0
NumberRealEstateLoansOrLines               0
NumberOfTime60-89DaysPastDueNotWorse       0
NumberOfDependents                      4267
dtype: int64

In [164]:
data['age'].mean()

51.36130439584714

In [39]:
# 使用pandas对Age填充缺失值

data['age'] = data['age'].fillna(data['age'].mean())

In [40]:
# 使用sklearn填充NumberOfDependents的缺失值
# 最高频率出现的填充空值
from sklearn.preprocessing import Imputer
imp = Imputer(strategy='most_frequent',axis=0)
data['NumberOfDependents'] = imp.fit_transform(data[['NumberOfDependents']])

In [41]:
# 没有空值了
data.isnull().sum()

Unnamed: 0                              0
SeriousDlqin2yrs                        0
RevolvingUtilizationOfUnsecuredLines    0
age                                     0
NumberOfTime30-59DaysPastDueNotWorse    0
DebtRatio                               0
MonthlyIncome                           0
NumberOfOpenCreditLinesAndLoans         0
NumberOfTimes90DaysLate                 0
NumberRealEstateLoansOrLines            0
NumberOfTime60-89DaysPastDueNotWorse    0
NumberOfDependents                      0
dtype: int64

### 2.数据处理

In [42]:
# age 连续值分桶
import seaborn as sns
data.loc[:,'age_cut'] = pd.qcut(data['age'],5,labels=["teenager","young", "adult", "middle","old"])
# data.drop(['age'],axis = 1,inplace = True)
data.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,age_cut
0,0,1,0.766127,45.0,2.0,0.802982,9120.0,13.0,0.0,6.0,0.0,2.0,young
1,1,0,0.957151,40.0,0.0,0.121876,2600.0,4.0,0.0,0.0,0.0,1.0,young
2,2,0,0.658180,38.0,1.0,0.085113,3042.0,2.0,1.0,0.0,0.0,0.0,teenager
3,3,0,0.233810,30.0,0.0,0.036050,3300.0,5.0,0.0,0.0,0.0,0.0,teenager
4,4,0,0.907239,49.0,1.0,0.024926,63588.0,7.0,0.0,1.0,0.0,0.0,adult

In [9]:
# sns.distplot(data['RevolvingUtilizationOfUnsecuredLines'],kde=True, bins=20,rug=True)

In [46]:
data = pd.get_dummies(data,['age_cut'])
data.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,age_cut_teenager,age_cut_young,age_cut_adult,age_cut_middle,age_cut_old
0,0,1,0.766127,45.0,2.0,0.802982,9120.0,13.0,0.0,6.0,0.0,2.0,0,1,0,0,0
1,1,0,0.957151,40.0,0.0,0.121876,2600.0,4.0,0.0,0.0,0.0,1.0,0,1,0,0,0
2,2,0,0.658180,38.0,1.0,0.085113,3042.0,2.0,1.0,0.0,0.0,0.0,1,0,0,0,0
3,3,0,0.233810,30.0,0.0,0.036050,3300.0,5.0,0.0,0.0,0.0,0.0,1,0,0,0,0
4,4,0,0.907239,49.0,1.0,0.024926,63588.0,7.0,0.0,1.0,0.0,0.0,0,0,1,0,0

In [54]:
# 2阶多项式特征，年龄与负债率交叉
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2)
debt_poly = poly.fit_transform(data[['age','DebtRatio']])

In [55]:
# 2阶多项式特征，年龄与月薪交叉
poly = PolynomialFeatures(degree=2)
income_poly = poly.fit_transform(data[['age','MonthlyIncome']])

### 切分数据集

In [58]:
from sklearn.model_selection import train_test_split

X=data.drop(['SeriousDlqin2yrs'],axis = 1)
Y=data.SeriousDlqin2yrs

X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=0)
print(X_train.shape,X_test.shape)

(84686, 16) (28229, 16)

In [62]:
# 建模
xgb_model = XGBClassifier()
param = {'max_depth': [3,4,5],
              'n_estimators': [50,100],
               'learning_rate': [0.01,0.3],
               'subsample': [0.6, 0.9],
               'colsample_bylevel':[0.6, 0.7]
             }
clf = GridSearchCV(xgb_model, param)
# 训练
clf.fit(X_train,y_train)

GridSearchCV(cv=None, error_score='raise',
       estimator=XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'max_depth': [3, 4, 5], 'n_estimators': [50, 100], 'learning_rate': [0.01, 0.3], 'subsample': [0.6, 0.9], 'colsample_bylevel': [0.6, 0.7]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [63]:
print('最佳分数:',clf.best_score_)
print(clf.best_params_)

最佳分数: 0.936730982689
{'colsample_bylevel': 0.6, 'learning_rate': 0.01, 'max_depth': 4, 'n_estimators': 100, 'subsample': 0.6}

In [66]:
# 使用搜索到的相对最优参数重新建模预测
y_pred = clf.best_estimator_.predict(X_test)

In [75]:
# 预测结果评估
# 混淆矩阵
from sklearn.metrics import confusion_matrix, mean_squared_error,accuracy_score

print('confusion matrix:\n',confusion_matrix(y_test, y_pred))
# MSE
print('MSE:\n', mean_squared_error(y_test, y_pred))

print('accuracy:\n',accuracy_score(y_test, y_pred))

confusion matrix:
 [[26092   173]
 [ 1711   253]]
MSE:
 0.066739877431
accuracy:
 0.933260122569

#### 分析：

### 本阶段课程意见反馈题(非必答，不送分)
#### 请同学围绕以下两点进行回答：
- 自身总结：请您对您自己在本周课程的学习，收获，技能掌握等方面进行一次总结 ，也包括有哪些方面存在哪些不足，欠缺，困惑。作为将来回顾学习路径时的依据。

本周课程将之前的知识串起来了，课堂节奏比较紧凑，干货很多，需要拿出时间慢慢消化。

- 课程反馈：请就知识点，进度，难易度，教学方式，考试方式及难易度等方面向我们反馈，督促我们进行更有效的改进。

无

<hr>
<center><h1>####答卷结束####</h1></center>